@font-face {
    font-family: morganite;
    src: url("./assets/fonts/morganite/Morganite-Book.ttf") format("truetype");
}

@theme {
    --font-morganite: morganite, sans-serif;
}

@font-face {
    font-family: subjectivity;
    src: url("./assets/Fonts/subjective/Subjectivity-Regular.ttf") format("truetype");
}

@theme {
    --font-subjectivity: subjectivity, sans-serif;
}

@import "tailwindcss";

@keyframes dash {
    from {
        stroke-dashoffset: 1000;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes wander {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-10px);
    }
}

/* Hide Google Translate top bar */
.goog-te-banner-frame.skiptranslate {
    display: none !important;
}

body {
    top: 0 !important;
}