
@font-face {
    font-family: morganite;
    src: url("./assets/fonts/morganite/Morganite-Book.ttf") format("truetype");
}
@theme {
    --font-morganite: morganite, sans-serif;
}

@font-face {
    font-family: subjectivity;
    src: url("./assets/fonts/subjective/Subjectivity-Regular.ttf") format("truetype");
}
@theme {
    --font-subjectivity: subjectivity, sans-serif;
}
@import "tailwindcss";